<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Card Collection</title>

    <link rel="stylesheet" href="/css/home.css">
    <script src="javascripts/cardsList.js"></script>
    <script src="javascripts/cardListView.js"></script>
  </head>
  <body>
    <section id=CardList>
      <h1>Card List</h1>
      <div class="nav-bar">
        <a href="/"><button class="btn">Home</button></a>
	       <a href="/viewDecks"><button class="btn">Decks</button></a>
         <a href="/listCards"><button class="btn">Card List</button></a>
         <a href="/newCard"><button class="btn">Add Cards</button></a>
         <a href="/newDeck"><button class="btn">Create Deck</button></a>
      </div>
      <div id="display">
      </div>
    </section>
  </body>
</html>
