<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Card Collection</title>

    <link rel="stylesheet" href="/css/home.css">

  </head>
  <body>
      <h1>Deck View</h1>
      <div class="nav-bar">
        <a href="/"><button class="btn">Home</button></a>
         <a href="/viewDecks"><button class="btn">Decks</button></a>
         <a href="/listCards"><button class="btn">Card List</button></a>
         <a href="/newCard"><button class="btn">Add Cards</button></a>
         <a href="/newDeck"><button class="btn">Create Deck</button></a>
      </div>
      <div class="display">
        <a>Deck viewed here</a>
      </div>
  </body>
</html>
