body {
  font-family: Arial;
	font-size: 12pt;
	background-color: #000;
	color: white;
}
form {
	text-align: left;
	position: relative;
	width: 100%;
}
h1{
	width: 100%;
}
td{
  height: 40px;
  width: 50%;
}
.btn{
  border-color: blue;
  margin: 0px;
	color: #000080;
	text-decoration: none;
  font-size: 18pt;
  font-weight: bold;
  background: #ADFF2F;
  float: left;
  height: 35px;
  width: 20%;
}
.nav-bar{
  background-color: red;
  width: 100%;
}
.display{
  margin: 100px 0px 0px 0px;
  padding:5px .5% 5px .5%;
  background-color: blue;
  width: 99%;
  height: 260px;
}
